body{
  margin: 0;

}
*{
  margin: 0;
  box-sizing: border-box;
}
.wrapper{
  display: flex;
  
  width: 100vw;
  height: 100vh;
  background-color: #dfe6e9;
}
.calander{
  margin: auto;
  width: 600px;
  height: auto;
  background-color: rgb(250, 248, 248);
  box-shadow: 0px 0px 15px 3px rgb(4, 4, 4,0.2);

}
.month{
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  background-color: white;
  color: black;
  padding: 40px 30px;
}
.weekends{
  background-color: #009EFF;
  color: white;
  display: flex;
  padding: 17px 0;
  font-weight: bold;
}

.days{
display: flex;
flex-wrap: wrap;
text-align: center;
font-weight: 300;
padding: 10px 0px;
font-weight: bold;

}
.days div{
  
  margin-bottom: 10px; 
  padding: 10px 0px;
}
.weekends div,
.days div{
  width: 14.28%;
  text-align: center;
}
.today{
  background-color: blue;
}
.prev,
.next{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  width: 50px;
  height: 50px;
  background-color: rgb(8, 8, 8,0.2);
  border-radius: 50%;

}
#month,
#year{
  display: inline-block;
  font-weight: bold;
  padding: 2px;
  justify-content: center;
  text-align: center;
  color: #555;
  font-size: 32px;

}
.prev:hover,
.next:hover{
  background-color: #009EFF;
  cursor: pointer;
}
.days div:hover{
  background-color: #009EFF;
  padding: 10px 0;
  transition: all 0.4s;
  border-radius: 5px;
}
.today{
  background-color: #009EFF;
  cursor: pointer;
  border-radius: 5px;

}
.prev_date{
  color: #555;
}